@charset "UTF-8";
@font-face {
  /*フォントの名前*/
  font-family: "toroman";
  /*フォントファイルへのパス*/
  src: url("font_rjt638ced7sswz2zi578/toroman.ttf") format("truetype");
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
共通処理
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/*-* 余白リセット *-*-*-*-*-*-*-*-*-*-*-*/
html,body,header,footer,main,p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-* 画像リセット *-*-*-*-*-*-*-*-*-*-*-*/
img{
  border: 0;
  vertical-align: top;
}

/*-* 初期フォント・なめらかスクロール *-*-*-*-*-*-*-*-*-*-*-*/
html{
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family:"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ proN W3","Yu Gothic","游ゴシック","YuGothic","游ゴシック体","Meiryo","メイリオ",sans-serif;
}
body{
  font-size: 1.6rem;
}

/*-* IE対策 *-*-*-*-*-*-*-*-*-*-*-*/
main{
  display: block;
}

/*-* clear-fix *-*-*-*-*-*-*-*-*-*-*-*/
.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

/*-* 背景の設定 *-*-*-*-*-*-*-*-*-*-*-*/
#video-wrap{
  position: fixed;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}

/*-* メイン *-*-*-*-*-*-*-*-*-*-*-*/
p{
  font-weight: bold;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 1px 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255);
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 85px;
  color: rgb(255, 255, 255);
  background: linear-gradient(-135deg, rgba(255, 255, 204, 0.8), rgba(102, 204, 255, 0.8)) ,url("images/dot.png");
  text-shadow: 1px 0 0 rgb(0, 0, 0),0 1px 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0),0 -1px 0 rgb(0, 0, 0);
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: flex-start;
}

nav span{
  color: rgb(255, 204, 102);

}
nav a{
  text-decoration: none;
  color: rgb(102, 204, 255);
}

nav ul{
  display: flex;
  justify-content:flex-end;
  list-style: none;
}

nav li{
  text-align: center;
}

h1{
  line-height:1;
  display: flex;
  justify-content: center;
}

#sns_area{
  display: flex;
  justify-content:center;
}

#sns_area>div{
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

#sns_area i{
  text-align: center;
  color: rgb(255, 255, 255);
}

#sns_area div:nth-child(1){
  background-color: rgb(85, 172, 238);
}
#sns_area div:nth-child(2){
  background-color: rgb(255, 0, 0);
}
#sns_area div:nth-child(3){
  background: linear-gradient(135deg, rgb(64, 93, 230), rgb(88, 81, 219), rgb(131, 58, 180), rgb(193, 53, 132), rgb(225, 48, 108), rgb(245, 96, 64), rgb(247, 119, 55), rgb(252, 175, 69), rgb(255, 220, 128));
}

#sns_area div:hover{
  opacity: 0.5;
}

h2{
  text-align: right;
  position: relative;
  color: rgb(153, 153, 153);
}

h2>span{
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 0 rgb(255, 255, 255),0 1px 0 rgb(255, 255, 255),-1px 0 0 rgb(255, 255, 255),0 -1px 0 rgb(255, 255, 255);
}

.phead1{
  color: rgb(255, 153, 0);
  font-weight: bold;
  line-height: 0;
}

.phead2{
  color: rgb(51, 102, 204);
  font-weight: bold;
  line-height: 0;
}

section>p>span{
  font-weight: bold;
}

h3{
  text-align: right;
  position: relative;
  color: rgb(153, 153, 153);
}

h3>span{
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 0 rgb(255, 255, 255),0 1px 0 rgb(255, 255, 255),-1px 0 0 rgb(255, 255, 255),0 -1px 0 rgb(255, 255, 255);
}

#slideshow{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;
}

#slidebtn{
  display: flex;
  justify-content:space-evenly;
  cursor: pointer;
}

#movarea{
  display: flex;
  justify-content:space-evenly;
}

#goodslist{
  margin: 0 auto;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}

#goodslist img{
  border: 1px solid rgb(204, 204, 204);
}

#goodslist>dl{
  text-shadow: 1px 0 0 rgb(255, 255, 255),0 1px 0 rgb(255, 255, 255),-1px 0 0 rgb(255, 255, 255),0 -1px 0 rgb(255, 255, 255);
}

#goodslist dt{
  font-weight: bold;
  text-shadow: 1px 0 0 rgb(255, 255, 255),0 1px 0 rgb(255, 255, 255),-1px 0 0 rgb(255, 255, 255),0 -1px 0 rgb(255, 255, 255);
}

#goodslist dd{
  text-align: right;
}

footer{
  background: linear-gradient(-135deg, rgba(255, 255, 204, 0.8), rgba(102, 204, 255, 0.8)) ,url("images/dot.png");
  width: 100%;
  text-align: center;
}

footer>p{
  color: rgb(0, 0, 0);
  text-shadow: 1px 0 0 rgb(255, 255, 255),0 1px 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255),0 -1px 0 rgb(255, 255, 255);
}

.gotop{
  position: fixed;
  text-align: center;
  font-weight: bold;
  line-height: 0;
  text-shadow: 1px 0 1px rgb(255, 255, 255), 0 1px 1px rgb(255, 255, 255), -1px 0 1px rgb(255, 255, 255), 0 -1px 1px rgb(255, 255, 255);
}

.gotop>a{
  width: auto;
  height: auto;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: block;
}

#twitter{
  display: flex;
  justify-content: center;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
レスポンシブ対応：スマートフォン（0～599）
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (min-width: 0px) and (max-width: 599px) {
  #wrapper{
    width: 100%;/* 任意の値 */
    margin:0 auto;
  }

  nav{
    height: 98px;
    align-items: flex-start;
    justify-content: center;
  }

  nav ul{
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap:wrap;
    justify-content:space-between;
  }

  nav li{
    width: 25%;
    font: 2.0rem/1.5 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h1{
    padding-top: 130px;
  }

  h1>img{
    width: 80%;
  }

  #sns_area>div{
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }

  #sns_area i{
    width: 50px;
    height: 50px;
    line-height: 1.6;
    font-size: 3rem;
  }

  #sns_area div:nth-child(1){
    margin-left: 10px;
  }

  h2{
    padding-top: 50px;
    margin-right: 10px;
    font: 5.0rem/1 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h2>span{
    font: 2.0rem/1.8 "toroman","メイリオ","Meiryo",sans-serif;
  }

  section>p,#slideshow>p{
    width: 80%;
    margin: 20px auto 0px;
    line-height: 2;
  }

  .phead1{
    font-size: 3.0rem;
  }

  .phead2{
    font-size: 3.0rem;
  }

  h3{
    margin-top: 0;
    margin-bottom: 0;
    font: 4.0rem/1 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h3>span{
    font: 2.0rem/1.3 "toroman","メイリオ","Meiryo",sans-serif;
  }

  #ss_div{
    width: 80%;
    height: 200px;
    margin: 10px;
  }

  #slideshow>img{
    width: 80%;
  }

  #ss_div>p{
    line-height: 2;
  }

  #slidebtn{
    margin: 20px auto;
    width: 300px;
    font-size: 3.0rem;
  }

  #movarea{
    width: 100%;
    margin: 30px 0;
  }

  #goodslist{
    width: 90%;
  }

  #goodslist dt{
    font-size: 1.8rem;
  }

  #goodslist p{
    margin-top: 30px;
  }

  footer{
    margin-top: 90px;
    padding-top: 30px;
  }

  footer>p{
    font: 1.8rem/2.5 "toroman","メイリオ","Meiryo",sans-serif;
    padding-bottom: 10px;
  }

  footer>img{
    width: 60px;
    height: 60px;
  }

  .gotop{
    bottom: 5px;
    right: 5px;
    font-size: 4rem;
  }

  #twitter{
    margin-top: 90px;
  }
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
レスポンシブ対応：タブレット（600～1024）
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (min-width: 600px) and (max-device-width: 1024px) {
  #wrapper{
    width: 600px;/* 任意の値 */
    margin:0 auto;
  }

  nav{
    align-items: center;
    height: 90px;
  }

  nav ul{
    padding: 0 20px;
    flex-wrap:wrap;
    width: 70%;
  }

  nav li{
    width: 25%;
    font: 3.0rem/1.5 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h1{
    padding-top: 130px;
  }

  h1>img{
    width: 80%;
  }

  #sns_area>div{
    width: 60px;
    height: 60px;
    margin: 0 10px;
  }

  #sns_area i{
    width: 60px;
    height: 60px;
    line-height: 1.8;
    font-size: 3.3rem;
  }

  #sns_area div:nth-child(1){
    margin-left: 10px;
  }

  h2{
    padding-top: 50px;
    font: 8.0rem/1 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h2>span{
    font: 2.5rem/1.8 "toroman","メイリオ","Meiryo",sans-serif;
  }

  section>p,#slideshow>p{
    width: 80%;
    margin: 20px auto 0px;
    line-height: 2.5;
  }

  .phead1{
    font-size: 3.0rem;
  }

  .phead2{
    font-size: 3.0rem;
  }

  h3{
    margin-top: 0;
    margin-bottom: 0;
    font: 4.0rem/1 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h3>span{
    font: 2.0rem/1.3 "toroman","メイリオ","Meiryo",sans-serif;
  }

  #ss_div{
    width: 60%;
    height: 200px;
    margin: 20px;
  }

  #ss_div>p{
    line-height: 2;
  }

  #slidebtn{
    margin: 20px auto;
    width: 400px;
    font-size: 5.0rem;
  }

  #movarea{
    margin: 50px 70px;
  }

  #goodslist{
    width: 80%;
  }

  #goodslist>dl{
    margin: 0 30px 30px 0;
  }

  #goodslist dt{
    font-size: 1.8rem;
  }

  #goodslist>dl>dt:nth-child(2){
    margin-top: 10px;
  }

  #goodslist>dl:nth-child(2n){
    margin-right: 0;
  }

  #goodslist>dl:nth-child(n+5){
    margin-bottom: 0;
  }

  #goodslist p{
    margin-top: 50px;
  }

  footer{
    margin-top: 120px;
    padding-top: 30px;
  }

  footer>p{
    font: 2.0rem/2.5 "toroman","メイリオ","Meiryo",sans-serif;
    padding-bottom: 10px;
  }

  footer>img{
    width: 70px;
    height: 70px;
  }

  .gotop{
    bottom: 20px;
    right: 20px;
    font-size: 5rem;
  }

  #twitter{
    margin-top: 120px;
  }
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
レスポンシブ対応：パソコン（1025～）
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (min-width: 1025px) {
  #wrapper{
    width: 1000px;/* 任意の値 */
    margin:0 auto;
  }

  nav{
    height: 85px;
  }

  nav ul{
    flex-wrap:nowrap;
    width: 50%;
  }

  nav li{
    width: 25%;
    font: 3.0rem/1.5 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h1{
    padding-top: 130px;
  }

  #sns_area>div{
    width: 60px;
    height: 60px;
    margin: 0 5px;
  }

  #sns_area i{
    width: 60px;
    height: 60px;
    line-height: 1.8;
    font-size: 3.3rem;
  }

  #sns_area div:nth-child(1){
    margin-left: 10px;
  }

  h2{
    padding-top: 120px;
    font: 8.0rem/1 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h2>span{
    font: 2.5rem/1.8 "toroman","メイリオ","Meiryo",sans-serif;
  }

  section>p,#slideshow>p{
    width: 80%;
    margin: 20px auto 0px;
    line-height: 2.5;
  }

  .phead1{
    font-size: 3.0rem;
  }

  .phead2{
    font-size: 3.0rem;
  }

  h3{
    font: 4.0rem/1 "toroman","メイリオ","Meiryo",sans-serif;
  }

  h3>span{
    font: 2.0rem/1.3 "toroman","メイリオ","Meiryo",sans-serif;
  }

  #ss_div{
    width: 300px;
    margin: 20px;
  }

  #ss_div>p{
    line-height: 2.5;
  }

  #slidebtn{
    margin: 20px auto;
    width: 300px;
    font-size: 3.0rem;
  }

  #movarea{
    margin: 50px 0;
  }

  #goodslist{
    width: 80%;
  }

  #goodslist>dl{
    margin: 0 30px 30px 0;
  }

  #goodslist dt{
    font-size: 1.8rem;
  }

  #goodslist>dl>dt:nth-child(2){
    margin-top: 10px;
  }

  #goodslist>dl:nth-child(3n){
    margin-right: 0;
  }

  #goodslist>dl:nth-child(n+4){
    margin-bottom: 0;
  }

  #goodslist p{
    margin-top: 50px;
  }

  footer{
    margin-top: 120px;
    padding-top: 30px;
  }

  footer>p{
    font: 2.0rem/2.5 "toroman","メイリオ","Meiryo",sans-serif;
    padding-bottom: 10px;
  }

  footer>img{
    width: 50px;
    height: 50px;
  }

  .gotop{
    bottom: 10px;
    right: 10px;
    font-size: 4rem;
  }

  #twitter{
    margin-top: 120px;
  }
}